build/
.cache/
logs/
*.o
*.a
*.so
*.so.*
*.pyc
__pycache__/
.vscode/
.idea/
*.swp
*.swo
*~
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.pt
*.pth
*.onnx
*.bag
*.pcd
*.lib
*.dll
*.cti
*.avi
*.mp4
assets/*.bin
assets/*.so
io/galaxy/lib/*.so*
